extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {href: '/stylesheets/css/signup.css'}
  ])
block head-script-list
  +head-scripts([
    {src: '/javascripts/signup.js'}
  ])
block nav-link-list
  +nav-links([
    {path: '/', desc:'Home'}
  ])
block content
  .container
    main(role="main")
      h1.page-title create your account
      .error 
        ul
          each msg, index in message
            li= msg
      form(id="login-form" action="/auth/signup" method="post")
        .form-group
          label(for="input-username") Username
          input(
            type="text"
            id="input-username"
            name="username"
            class="form-control"
            aria-describedby="username-help"
            required
            placeholder="Enter username"
          )
          small#username-help(class="form-text text-muted").
            This will be how you are referred to.
        .form-group
          label(for="password") Password
          .input-group
            input(
              type="password"
              id="password"
              class="form-control"
              aria-describedby="password-help"
              required
              name="password"
              placeholder="Enter password"
            )
          small#username-help(class="form-text text-muted")
            | Password Requirements:
            | 8 character minimum
            span(data-lenMin) &#10686;
            | One digit
            span(data-numMin) &#10686;
            | One special character 
            span(data-specCharMin) &#10686;
            | One uppercase
            span(data-upCaseMin) &#10686;
        .form-group
          label(for="confirmPassword") Confirm Password
          .input-group
            input(
              type="password"
              id="confirmPassword"
              class="form-control"
              aria-describedby="password-help"
              required
              name="confirmPassword"
              placeholder="Confirm password"
            )
          small#username-help2(class="form-text text-muted")
            | Password Requirements:
            | 8 character minimum &#9679;
            | One digit &#9679;
            | One special character &#9679;
            | One uppercase        
        .d-flex.flex-column
          button(type="submit" class="btn btn-primary") create account
          a(href="/auth/login" class="login-link") Already have an account?