extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {href: '/stylesheets/css/signup.css'}
  ])
block head-script-list
  +head-scripts([
    {src: '/javascripts/signup.js'}
  ])
block nav-link-list
  +nav-links([
    {path: '/', desc:'Home'}
  ])
block content
  .container
    main(role="main")
      h1.page-title create your account
      div(class=error ? "error" : "hidden") 
        ul
          each msg, index in err
            li= msg
      div(class=message ? "message": "hidden")
      form(id="login-form" action="/auth/signup" method="post")
        .form-group
          label(for="input-username") Username
          input(
            type="text"
            id="input-username"
            name="username"
            class="form-control"
            aria-describedby="username-help"
            required
            placeholder="Enter username"
          )
          small#username-help(class="form-text text-muted").
            This is how other users will refer to you
        .form-group
          label(for="password") Password
          .input-group
            input(
              type="password"
              id="password"
              class="form-control"
              aria-describedby="password-help"
              required
              name="password"
              placeholder="Enter password"
            )
          small#username-help(class="form-text text-muted")
            | Password Requirements:
            | 8 character minimum
            span(data-lenMin) &#10060;
            | One digit
            span(data-numMin) &#10060;
            | One special character
            span(data-specCharMin) &#10060;
            | One uppercase
            span(data-upCaseMin) &#10060;
        .form-group
          label(for="confirmPassword") Confirm Password
          .input-group
            input(
              type="password"
              id="confirmPassword"
              class="form-control"
              aria-describedby="password-help"
              required
              name="confirmPassword"
              placeholder="Confirm password"
            )
          small#username-help2(class="form-text text-muted")
            | Password must match what was entered above.      
        button(type="submit" class="btn btn-primary" disabled) create account
        small
          a(href="/auth/login" class="login-link text-muted") Already have an account?